### 1.Load data files(train_u6lujuX_CVtuZ9i.csv and test_Y3wMUE5_7gLdaTN.csv)

In [45]:
import pandas as pd
train= pd.read_csv ('/Users/sabiraliyev/Downloads/train_u6lujuX_CVtuZ9i.csv')
test = pd.read_csv ('/Users/sabiraliyev/Downloads/test_Y3wMUE5_7gLdaTN.csv')
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

### 2.Types of data columns

In [13]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [16]:
test.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

### DATA CLEANING AND PREPROCESSING

### 3.Find missing values

In [6]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

### 4.Impute missing values with mean (numerical variables)

In [46]:
train.fillna(train.mean(), inplace= True)
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [47]:
test.fillna(test.median(), inplace=True)
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

### 5.Impute missing values with mode (categorical variables)

In [48]:
train.Gender.fillna(train.Gender.mode()[0], inplace =True)
train.Married.fillna(train.Married.mode()[0], inplace =True)
train.Dependents.fillna(train.Dependents.mode()[0], inplace =True)
train.Self_Employed.fillna(train.Gender.mode()[0], inplace =True)
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [49]:
test.Gender.fillna(test.Gender.mode()[0], inplace =True)
test.Dependents.fillna(test.Dependents.mode()[0], inplace =True)
test.Self_Employed.fillna(test.Gender.mode()[0], inplace =True)
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

### 6.Remove Loan_ID variable - Irrelevant

In [50]:
train = train.drop('Loan_ID', axis=1)
train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [51]:
test = test.drop('Loan_ID', axis=1)
test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,1.0,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

### 7.Create target variable

In [53]:
y = train.Loan_Status

X = train.drop('Loan_Status', axis=1)

### 8.Build dummy variables for categorical variables

In [57]:
train=pd.get_dummies(train)
test = pd.get_dummies(test)

X = pd.get_dummies(X)

### 9.Split train data for cross validation

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

### (a)LOGISTIC REGRESSION ALGORITHM

### 10.Fit model

In [63]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)

/Users/sabiraliyev/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

### 11.Predict values for cv data

In [64]:
y_pred = lr.predict(X_test)

### 12.Print classification report

In [67]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           N       0.94      0.33      0.49        52
           Y       0.79      0.99      0.88       133

    accuracy                           0.81       185
   macro avg       0.87      0.66      0.68       185
weighted avg       0.83      0.81      0.77       185

### 13.Evaluate accuracy of model

In [68]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8054054054054054

### (b)DECISION TREE ALGORITHM

### 14.Fit model

In [72]:
from sklearn import tree
dtree = tree.DecisionTreeClassifier (criterion = 'entropy')
dtree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

### 15.Predict values for cv data

In [75]:
y2_pred= dtree.predict(X_test)

### 16.Evaluate accuracy of model

In [81]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
print(classification_report(y_test, y2_pred))

              precision    recall  f1-score   support

           N       0.46      0.54      0.50        52
           Y       0.81      0.75      0.78       133

    accuracy                           0.69       185
   macro avg       0.63      0.65      0.64       185
weighted avg       0.71      0.69      0.70       185

In [82]:
accuracy_score (y_test, y2_pred)

0.6918918918918919

### (c)SUPPORT VECTOR MACHINE (SVM) ALGORITHM

In [85]:
from sklearn import svm
svm_model = svm.SVC()

### 17.Fit model

In [86]:
svm_model.fit(X_train, y_train)

/Users/sabiraliyev/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

### 18.Predict values for cv data

In [87]:
y3_pred = svm_model.predict (X_test)

### 19.Evaluate accuracy of model

In [89]:
from sklearn.metrics import accuracy_score
accuracy_score(y3_pred, y_test)

0.7243243243243244

### (d)NAIVE BAYES ALGORITHM

In [91]:
from sklearn.naive_bayes import GaussianNB

### 20.Fit model

In [93]:
nb= GaussianNB()
nb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

### 21.Predict values for cv data

In [94]:
y4_pred = nb.predict (X_test)

### 22.Evaluate accuracy of model

In [95]:
from sklearn.metrics import accuracy_score
accuracy_score (y4_pred, y_test)

0.7675675675675676

In [ ]:
#Select best model in order of accuracy
#Naive Bayes - 
#Logistic Regression - 80% the best model
#Decision Tree - 
#Support Vector Machine -